
.open-modal-button {
  position: fixed;
  top: 10px;
  font-size: 1rem;
  box-sizing: border-box;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  font-weight: 500px;
  padding: 8px;
  border-radius: 1px;
  background-color: var(--gh-blue-2);
}
